
<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; DashBoard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Total Product</th>
          <th>Total Category</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
         <%=@products.count%>
        </td>
        <td>
            <%=@category.count%>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</section>
