<article class="product">
    <h1>About Us</h1>
    <p>We are online store that sells the strangest the things on the internet</p>
    <p>We sell the stuff you didn't think you need</p>
    <p>But you definitely need them!</p>
</article>
